/**
 * custom
 * place custom style in this file
 * add !important to the end if no effect
 * e.g. color: #fff !important;
 * --------------------------------------------------
 *
 */

.linkedin-profile {
    display:inline-block;
    padding: 10px;
}

.linkedin-profile a {
    color: #197fb8;
}

.icon-box-media img {
    display: inline-block;
}

.are-you-ready {
    font-weight: bold;
}

.alert {
    margin-top: 30px;
}

#subscribeBetaTestForm .form-group {
    margin-bottom: 0px;
}

.video-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}
.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin-top: 50px;
    padding-bottom: 20px;
}

.map {
    color: deepskyblue;
}

p {
    font-size: 1.5em;
}

#siteFooter p {
    font-size: 1.2em;
}

h3 {
    font-size: 2em;
}

.phone {
    width: 300px;
}

